openapi: 3.0.3
info:
  title: Dakota Platform API
  version: "1.0.0"
  description: |
    Combined API specification for Dakota Platform services:
    - Issuance API: Asset minting and burning operations
    - Onboarding API: Know Your Business/Customer verification
    - On/Off Ramp API: Managing on-ramp and off-ramp accounts
    - Recipients API: Managing destinations for KYB'd entities
    - Transactions API: Viewing transaction history across platform operations
    
    ## Authentication and API Headers
    
    All API endpoints require the following headers:
    
    - `x-idempotency-key`: Required for all POST endpoints to ensure request idempotency
    - `x-api-key`: Required for authentication across all endpoints

    Note: On /applications endpoints you need a token for authentication isntead of a x-api-key
    - `x-application-token`: Required for all POST endpoints to ensure request idempotency

servers:
  - url: https://api.platform.dakota.xyz
  - url: https://api.platform.sandbox.dakota.xyz
  - url: https://api.platform.dev.dakota.xyz
  - url: http://localhost:6464
security:
  - ApiKeyAuth: [ ]
tags:
  - name: Authentication
    description: Authentication and API key management
  - name: Billing
    description: Billing invoice management and generation
  - name: Auto Transactions
    description: Managing auto account transactions
  - name: Customers
    description: Customer management and lifecycle operations
  - name: Issuance
    description: Asset minting and burning operations
  - name: Onboarding
    description: Managing verifications for customers and businesses
  - name: Onramp
    description: Managing on-ramp accounts for fiat-to-crypto conversions
  - name: Offramp
    description: Managing off-ramp accounts for crypto-to-fiat conversions
  - name: Swap
    description: Managing swap accounts for crypto-to-crypto conversions
  - name: Recipients
    description: Managing destinations for KYB'd entities
  - name: Transactions
    description: Viewing and managing transaction history including Transaction and ProcessTransaction models
  - name: Info
    description: Informational endpoints for system capabilities
  - name: Inbound Webhooks
    description: Webhook endpoints for receiving external service events
  - name: Webhooks
    description: Webhook endpoints for sending events
  - name: Events
    description: Event logging and retrieval across platform operations
  - name: Exceptions
    description: Managing platform exceptions and error conditions
  - name: Users
    description: User management
  - name: Wallets
    description: Wallet management and multi-chain address operations
  - name: Signer Groups
    description: Signer group management
  - name: Policies
    description: Managing policies and policy rules for transaction governance
  - name: Internal
    description: Internal views and administrative endpoints
paths:
  /auto-transactions:
    get:
      tags:
        - Auto Transactions
      summary: List transactions that were created automatically by auto accounts
      operationId: listAutoTransactions
      parameters:
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: auto_account_id
          in: query
          description: Filter transactions by auto account ID
          required: false
          schema:
            $ref: '#/components/schemas/KSUID'
        - name: destination_id
          in: query
          description: Filter transactions by destination ID
          required: false
          schema:
            $ref: '#/components/schemas/KSUID'
        - name: status
          in: query
          description: Filter transactions by status
          required: false
          schema:
            $ref: '#/components/schemas/TransactionStatus'
        - name: type
          in: query
          description: Filter transactions by type
          required: false
          schema:
            $ref: '#/components/schemas/TransactionType'
        - name: provider_id
          in: query
          description: Filter transactions by provider ID
          required: false
          schema:
            type: string
        - name: source_crypto_address
          in: query
          description: Filter transactions by source address
          required: false
          schema:
            type: string
        - name: destination_crypto_address
          in: query
          description: Filter transactions by destination address
          required: false
          schema:
            type: string
        - name: source_network_id
          in: query
          description: Filter transactions by source network
          required: false
          schema:
            type: string
        - name: destination_network_id
          in: query
          description: Filter transactions by destination network
          required: false
          schema:
            type: string
        - name: transaction_hash
          in: query
          description: Filter transactions by blockchain transaction hash
          required: false
          schema:
            type: string
        - name: start_date
          in: query
          description: Filter transactions created on or after this date (Epoch timestamp in seconds)
          required: false
          schema:
            type: integer
        - name: end_date
          in: query
          description: Filter transactions created on or before this date (Epoch timestamp in seconds)
          required: false
          schema:
            type: integer
        - name: input_asset
          in: query
          description: Filter transactions by input asset symbol
          required: false
          schema:
            type: string
        - name: destination_asset
          in: query
          description: Filter transactions by destination asset symbol
          required: false
          schema:
            type: string
      responses:
        "200":
          description: 'A paginated list of auto account transactions'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAutoTransactionResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auto-transactions/{auto_transaction_id}:
    get:
      tags:
        - Auto Transactions
      summary: Get details of a specific auto account transaction
      operationId: getAutoTransaction
      parameters:
        - name: auto_transaction_id
          in: path
          required: true
          description: Unique identifier of the auto account transaction
          schema:
            $ref: '#/components/schemas/KSUID'
      responses:
        "200":
          description: Auto account transaction details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoAccountTransaction'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /internal/views/auto-transactions:
    get:
      tags:
        - Internal
      summary: List auto account transactions with customer details (internal view)
      operationId: listAutoTransactionsView
      parameters:
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        "200":
          description: 'A paginated list of auto account transactions with customer details'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAutoTransactionViewResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /internal/views/onramps:
    get:
      tags:
        - Internal
      summary: List onramps with customer details (internal view)
      operationId: listOnrampsView
      parameters:
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        "200":
          description: 'A paginated list of onramps with customer details'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOnrampViewResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /internal/views/offramps:
    get:
      tags:
        - Internal
      summary: List offramps with customer details (internal view)
      operationId: listOfframpsView
      parameters:
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        "200":
          description: 'A paginated list of offramps with customer details'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOfframpViewResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /internal/views/swaps:
    get:
      tags:
        - Internal
      summary: List swaps with customer details (internal view)
      operationId: listSwapsView
      parameters:
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        "200":
          description: 'A paginated list of swaps with customer details'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSwapViewResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /internal/views/applications:
    get:
      tags:
        - Internal
      summary: List all applications across all clients (superadmin view)
      description: |
        Returns a list of all applications across all clients. Superadmin only.
        Supports search by business name or individual name.
        Can be filtered by type and status. Supports pagination.
      operationId: listApplicationsView
      parameters:
        - name: search
          in: query
          required: false
          description: Search by business name or individual name
          schema:
            type: string
        - name: type
          in: query
          required: false
          description: Filter by application type
          schema:
            type: string
            enum:
              - business
              - individual
        - name: status
          in: query
          required: false
          description: Filter by application status
          schema:
            type: string
            enum:
              - pending
              - submitted
              - completed
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        "200":
          description: List of applications with client information
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationViewItem'
                  meta:
                    $ref: '#/components/schemas/Meta'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /internal/unit21-queue:
    post:
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      tags:
        - Internal
      summary: Insert a new item into the unit21 queue
      operationId: insertUnit21QueueItem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsertUnit21QueueItemRequest'
      responses:
        "201":
          description: Queue item created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit21QueueItemResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /internal/unit21-queue/{queue_item_id}:
    patch:
      tags:
        - Internal
      summary: Update a unit21 queue item
      operationId: updateUnit21QueueItem
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - name: queue_item_id
          in: path
          required: true
          description: The ID of the queue item to update
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUnit21QueueItemRequest'
      responses:
        "200":
          description: Queue item updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit21QueueItemResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Queue item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /internal/unit21-backfill/start:
    post:
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      tags:
        - Internal
      summary: Start a Unit21 backfill job
      description: Starts a background job to backfill all customer and transaction data to Unit21
      operationId: startUnit21Backfill
      responses:
        "200":
          description: Backfill job started successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit21BackfillStartResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "503":
          description: Service unavailable - Unit21 service not initialized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /clients:
    get:
      tags:
        - Internal
      summary: List clients
      description: Lists all clients that this auth method has access to
      operationId: listClients
      responses:
        "200":
          description: 'List of clients the user has access to'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Client'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      tags:
        - Internal
      summary: Create a new client
      description: Creates a new subdeveloper client with all necessary setup. Requires super admin privileges (super admin JWT users or super user API keys).
      operationId: createClient
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClientRequest'
      responses:
        "201":
          description: Client created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateClientResult'
        "400":
          description: Bad request - validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - insufficient privileges
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Conflict - client already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /clients/{client_id}/pricing:
    parameters:
      - name: client_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/KSUID'
    get:
      tags:
        - Clients
      summary: Get client pricing configuration
      description: Retrieve the pricing configuration for a specific client
      operationId: getClientPricing
      responses:
        "200":
          description: Client pricing configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPricingConfig'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      tags:
        - Clients
        - Internal
      summary: Update client pricing configuration
      description: Update the pricing configuration for a specific client
      operationId: updateClientPricing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateClientPricingRequest'
      responses:
        "200":
          description: Client pricing configuration updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPricingConfig'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # Checkbook Client Credentials API paths
  /internal/checkbook/client-credentials:
    get:
      tags:
        - Internal
      summary: List all Checkbook client credentials
      description: Lists all Checkbook client credentials. Requires super admin privileges.
      operationId: listCheckbookClientCredentials
      responses:
        "200":
          description: List of Checkbook client credentials
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CheckbookClientCredentialsResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      tags:
        - Internal
      summary: Create Checkbook client credentials
      description: Creates Checkbook root credentials for a client. Requires super admin privileges.
      operationId: createCheckbookClientCredentials
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCheckbookClientCredentialsRequest'
      responses:
        "201":
          description: Checkbook client credentials created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckbookClientCredentialsResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Conflict - credentials already exist for this client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /internal/checkbook/client-credentials/{credential_id}:
    parameters:
      - name: credential_id
        in: path
        required: true
        schema:
          type: string
        description: The Checkbook client credentials ID
    get:
      tags:
        - Internal
      summary: Get Checkbook client credentials by ID
      description: Gets Checkbook client credentials by ID. Requires super admin privileges.
      operationId: getCheckbookClientCredentials
      responses:
        "200":
          description: Checkbook client credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckbookClientCredentialsResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      tags:
        - Internal
      summary: Update Checkbook client credentials
      description: Updates Checkbook client credentials. Requires super admin privileges.
      operationId: updateCheckbookClientCredentials
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCheckbookClientCredentialsRequest'
      responses:
        "200":
          description: Checkbook client credentials updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckbookClientCredentialsResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Internal
      summary: Delete (deactivate) Checkbook client credentials
      description: Soft-deletes Checkbook client credentials by setting is_active to false. Requires super admin privileges.
      operationId: deleteCheckbookClientCredentials
      responses:
        "204":
          description: Checkbook client credentials deleted successfully
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # Checkbook KYB Admin API paths
  /internal/checkbook/kyb-status/{customer_id}:
    parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
        description: The customer ID (KSUID)
    patch:
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      tags:
        - Internal
      summary: Update Checkbook KYB status
      description: Updates the Checkbook KYB status for a customer. Requires super admin privileges.
      operationId: updateCheckbookKYBStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCheckbookKYBStatusRequest'
      responses:
        "200":
          description: Checkbook KYB status updated successfully
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /internal/checkbook/users/{customer_id}/submit-kyb:
    parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
        description: The customer ID (KSUID)
    post:
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      tags:
        - Internal
      summary: Create Checkbook user and submit KYB
      description: Manually creates a Checkbook user for a customer and submits KYB data from the provided fields. Requires super admin privileges.
      operationId: createCheckbookUserAndSubmitKYB
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCheckbookUserAndSubmitKYBRequest'
      responses:
        "200":
          description: Checkbook user created and KYB submitted successfully
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Conflict - Checkbook user already exists for this customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # Initial Verification API paths (Internal)
  /internal/initial-verification/sessions:
    post:
      tags:
        - Internal
      summary: Create an initial verification session
      description: |
        Creates a new initial verification session with a token.
        Returns a URL that can be shared for public access to the verification form.
        Requires superadmin API key authentication.
      operationId: createInitialVerificationSession
      responses:
        "201":
          description: Session created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitialVerificationSession'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - superadmin access required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /internal/initial-verification/sessions/{session_id}:
    parameters:
      - name: session_id
        in: path
        required: true
        description: The session ID (KSUID)
        schema:
          $ref: '#/components/schemas/KSUID'
    get:
      tags:
        - Internal
      summary: Get initial verification session details
      description: Retrieves details about a verification session including request history
      operationId: getInitialVerificationSession
      responses:
        "200":
          description: Session details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitialVerificationSessionDetails'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - superadmin access required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Session not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /internal/initial-verification/verify:
    post:
      tags:
        - Internal
      summary: Submit businesses for initial verification
      description: |
        Submit an array of businesses for initial KYB verification.
        Calculates risk ratings for each business and returns results.
        Requires a valid verification token via X-Verification-Token header or ?token= query param.
        Persists both request and response data for audit purposes.
      operationId: submitInitialVerification
      parameters:
        - name: token
          in: query
          description: Verification session token (alternative to X-Verification-Token header)
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitialVerificationRequest'
      responses:
        "200":
          description: Verification completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitialVerificationResponse'
        "400":
          description: Validation errors - one or more items failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Token expired or inactive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Maximum verification attempts exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /internal/initial-verification/verify/status:
    get:
      tags:
        - Internal
      summary: Get verification session status
      description: |
        Check the status of a verification session including remaining attempts.
        This endpoint should be called before showing the verification form to ensure
        the user hasn't exceeded the maximum number of attempts (3).
        Requires a valid verification token via X-Verification-Token header or ?token= query param.
      operationId: getInitialVerificationStatus
      parameters:
        - name: token
          in: query
          description: Verification session token (alternative to X-Verification-Token header)
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Session status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitialVerificationStatusResponse'
        "401":
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Token expired or inactive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # Events API paths
  /events:
    get:
      tags:
        - Events
      summary: List events
      operationId: listEvents
      parameters:
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        "200":
          description: 'A list of events'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEventResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # Exceptions API paths
  /exceptions:
    get:
      tags:
        - Exceptions
        - Internal
      summary: List exceptions
      operationId: listExceptions
      parameters:
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: customer_id
          in: query
          description: Filter exceptions by customer ID
          required: false
          schema:
            $ref: '#/components/schemas/KSUID'
      responses:
        "200":
          description: 'A paginated list of exceptions'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedExceptionResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /exceptions/{exception_id}:
    patch:
      tags:
        - Exceptions
        - Internal
      summary: Update exception status
      operationId: updateException
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - name: exception_id
          in: path
          required: true
          description: Unique identifier of the exception
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExceptionUpdateRequest'
      responses:
        "204":
          description: Exception updated successfully
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Exception not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  # Issuance API paths
  /mint:
    post:
      tags:
        - Issuance
        - Internal
      summary: Mint new asset
      operationId: mintAsset
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        description: Payload for minting an asset.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssuanceRequest'
      responses:
        "201":
          description: 'Asset mint broadcast successfully.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuanceResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /burn:
    post:
      tags:
        - Issuance
        - Internal
      summary: Burn an asset
      operationId: burnAsset
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        description: Payload for burning an asset.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssuanceRequest'
      responses:
        "201":
          description: 'Asset burn broadcast successfully.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuanceResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # Billing API paths
  /billing/generate-invoices:
    post:
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      tags:
        - Billing
        - Internal
      summary: "Generate billing invoices"
      description: "Generate invoices for clients in the specified date range. Supports dry-run mode for previewing without creating."
      operationId: generateInvoices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateInvoicesRequest'
      responses:
        '200':
          description: "Invoices generated successfully"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateInvoicesResult'
        '400':
          description: "Invalid request parameters"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: "Forbidden - requires super admin privileges"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: "Internal server error"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /billing/invoices/{year}/{month}:
    get:
      tags:
        - Billing
        - Internal
      summary: "Get invoices for a specific month"
      description: "Retrieve all invoices for a given year and month. Super admin only."
      operationId: getMonthlyInvoices
      parameters:
        - name: year
          in: path
          required: true
          description: "Year (e.g., 2025)"
          schema:
            type: integer
            minimum: 2020
            maximum: 2100
        - name: month
          in: path
          required: true
          description: "Month (1-12)"
          schema:
            type: integer
            minimum: 1
            maximum: 12
      responses:
        '200':
          description: "List of invoices for the month"
          content:
            application/json:
              schema:
                type: object
                required:
                  - invoices
                properties:
                  invoices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
        '400':
          description: "Invalid parameters"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: "Forbidden - requires super admin privileges"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: "Internal server error"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  # Onboarding Application API paths

  # New unified endpoints
  /applications:
    get:
      tags:
        - Onboarding
      summary: List all onboarding applications
      description: |
        Returns a paginated list of your onboarding applications for both businesses and individuals.
        Use the `type` parameter to filter by application type, and `status` to filter by application status.
        Supports cursor-based pagination using `starting_after`, `ending_before`, and `limit` parameters.

        **Authentication:** Accepts API Key (X-API-Key header).
      operationId: listApplications
      parameters:
        - name: type
          in: query
          required: false
          description: Filter by application type
          schema:
            type: string
            enum:
              - business
              - individual
        - name: status
          in: query
          required: false
          description: Filter by application status
          schema:
            type: string
            enum:
              - pending
              - submitted
              - completed
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        "200":
          description: List of applications
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationListItem'
                  meta:
                    $ref: '#/components/schemas/Meta'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /applications/{application_id}:
    get:
      tags:
        - Onboarding
      summary: Get an onboarding application
      description: |
        Retrieves a specific application including its status, entities (business/individuals), validation state,
        attestations, and EDD data if applicable. The validation object shows whether the application is ready
        to submit and what requirements are missing.

        **Authentication:** Accepts Application Token (X-Application-Token header).
        Application tokens are scoped to a single application for use in public-facing flows.
      operationId: getApplication
      parameters:
        - name: application_id
          in: path
          required: true
          description: The unique identifier for the application
          schema:
            $ref: '#/components/schemas/KSUID'
      security:
        - ApplicationTokenAuth: []
      responses:
        "200":
          description: Application retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Application not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /applications/{application_id}/documents:
    get:
      tags:
        - Onboarding
      summary: List all documents for an application
      description: |
        Returns metadata for all documents associated with an application, including business documents,
        identity documents, and EDD documents. Only returns metadata (document type, file type, filename,
        created date) not the actual file content. Supports optional filtering by category and document type.
      operationId: listDocuments
      parameters:
        - name: application_id
          in: path
          required: true
          description: The unique identifier for the application
          schema:
            $ref: '#/components/schemas/KSUID'
        - name: category
          in: query
          required: false
          description: Optional filter by document category
          schema:
            type: string
            enum:
              - business
              - identity
              - edd
        - name: document_type
          in: query
          required: false
          description: Optional filter by specific document type
          schema:
            type: string
      security:
        - ApplicationTokenAuth: []
      responses:
        "200":
          description: List of document metadata, categorized by type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategorizedDocumentsList'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Application not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /applications/{application_id}/documents/{document_id}/verify:
    post:
      tags:
        - Onboarding
      summary: Verify a document upload
      description: |
        Verifies that a document was successfully uploaded to cloud storage using a presigned URL.
        Call this endpoint after uploading to the presigned URL to confirm the file exists and
        register it in the system. Use the upload_id returned from the presigned URL endpoint
        as the document_id.

        **Authentication:** Accepts Application Token (X-Application-Token header).
      operationId: verifyDocumentUpload
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - name: application_id
          in: path
          required: true
          description: The unique identifier for the application
          schema:
            $ref: '#/components/schemas/KSUID'
        - name: document_id
          in: path
          required: true
          description: The document ID (upload_id from presigned URL response)
          schema:
            $ref: '#/components/schemas/KSUID'
      security:
        - ApplicationTokenAuth: []
      responses:
        "201":
          description: Document verified and registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentUploadResponse'
        "400":
          description: Invalid request or verification failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Application not found or document not found in storage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /applications/{application_id}/documents/{document_id}:
    get:
      tags:
        - Onboarding
      summary: Download a document
      description: |
        Downloads a document by streaming it through the API server. Returns the file with appropriate
        content type and disposition headers.

        **Authentication:** Accepts API Key (x-api-key header) or Application Token (X-Application-Token header).
      operationId: downloadDocument
      parameters:
        - name: application_id
          in: path
          required: true
          description: The unique identifier for the application
          schema:
            $ref: '#/components/schemas/KSUID'
        - name: document_id
          in: path
          required: true
          description: The unique identifier for the document
          schema:
            $ref: '#/components/schemas/KSUID'
      security:
        - ApiKeyAuth: [ ]
        - ApplicationTokenAuth: []
      responses:
        "200":
          description: Document downloaded successfully
          headers:
            Content-Type:
              description: Content type of file
              schema:
                type: string
              example: 'image/jpeg'
            Content-Disposition:
              description: Suggested filename for download
              schema:
                type: string
              example: 'attachment; filename="passport_20240115.pdf"'
            X-Document-Type:
              description: The type of document (e.g., certificate_of_incorporation, passport)
              schema:
                type: string
            X-File-Type:
              description: The file type (pdf, jpeg, png)
              schema:
                type: string
            X-Created-At:
              description: When the document was uploaded (ISO 8601 timestamp)
              schema:
                type: string
                format: date-time
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Application or document not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Document upload is pending
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Onboarding
      summary: Delete an onboarding document
      description: |
        Deletes a document from a pending onboarding application.
        Only documents from applications in 'pending' status can be deleted.
        Deletes both the database record and the file from cloud storage.

        **Authentication:** Accepts API Key (x-api-key header) or Application Token (X-Application-Token header).
      operationId: deleteOnboardingDocument
      parameters:
        - name: application_id
          in: path
          required: true
          description: The unique identifier for the application
          schema:
            $ref: '#/components/schemas/KSUID'
        - name: document_id
          in: path
          required: true
          description: The unique identifier for the document to delete
          schema:
            $ref: '#/components/schemas/KSUID'
      security:
        - ApiKeyAuth: [ ]
        - ApplicationTokenAuth: []
      responses:
        "204":
          description: Document successfully deleted
        "400":
          description: Bad request - invalid format or application cannot accept modifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found - application or document not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /applications/{application_id}/documents/business:
    post:
      tags:
        - Onboarding
      summary: Upload a business document
      description: |
        Uploads a business document using base64-encoded content. For files larger than 10MB,
        use the presigned URL endpoint instead.

        **Authentication:** Accepts Application Token (X-Application-Token header).
      operationId: uploadBusinessDocument
      parameters:
        - name: application_id
          in: path
          required: true
          description: The unique identifier for the application
          schema:
            $ref: '#/components/schemas/KSUID'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      security:
        - ApplicationTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessDocumentUploadRequest'
      responses:
        "201":
          description: Document uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentUploadResponse'
        "400":
          description: Invalid request or validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Application or business not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "413":
          description: File size exceeds 500MB limit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /applications/{application_id}/documents/business/upload-url:
    post:
      tags:
        - Onboarding
      summary: Get presigned URL for business document upload
      description: |
        Generates a presigned URL for uploading large business documents directly to cloud storage.
        Use this endpoint for files larger than 10MB. After uploading to the presigned URL, call the
        verify endpoint to complete the upload process.

        **Authentication:** Accepts Application Token (X-Application-Token header).
      operationId: getBusinessDocumentUploadUrl
      parameters:
        - name: application_id
          in: path
          required: true
          description: The unique identifier for the application
          schema:
            $ref: '#/components/schemas/KSUID'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      security:
        - ApplicationTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessDocumentUploadUrlRequest'
      responses:
        "200":
          description: Presigned URL generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentUploadUrlResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Application or business not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /applications/{application_id}/documents/edd:
    post:
      tags:
        - Onboarding
      summary: Upload an EDD document
      description: |
        Uploads an Enhanced Due Diligence (EDD) document using base64-encoded content.
        For files larger than 10MB, use the presigned URL endpoint instead.

        **Authentication:** Accepts Application Token (X-Application-Token header).
      operationId: uploadEDDDocument
      parameters:
        - name: application_id
          in: path
          required: true
          description: The unique identifier for the application
          schema:
            $ref: '#/components/schemas/KSUID'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      security:
        - ApplicationTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EDDDocumentUploadRequest'
      responses:
        "201":
          description: Document uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentUploadResponse'
        "400":
          description: Invalid request or validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Application or EDD record not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "413":
          description: File size exceeds 500MB limit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /applications/{application_id}/documents/edd/upload-url:
    post:
      tags:
        - Onboarding
      summary: Get presigned URL for EDD document upload
      description: |
        Generates a presigned URL for uploading large EDD documents directly to cloud storage.
        Use this endpoint for files larger than 10MB. After uploading to the presigned URL, call the
        verify endpoint to complete the upload process.

        **Authentication:** Accepts Application Token (X-Application-Token header).
      operationId: getEDDDocumentUploadUrl
      parameters:
        - name: application_id
          in: path
          required: true
          description: The unique identifier for the application
          schema:
            $ref: '#/components/schemas/KSUID'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      security:
        - ApplicationTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EDDDocumentUploadUrlRequest'
      responses:
        "200":
          description: Presigned URL generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentUploadUrlResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Application or EDD record not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /applications/{application_id}/associated-individuals/{individual_id}/documents:
    post:
      tags:
        - Onboarding
      summary: Upload an individual document
      description: |
        Uploads a document for an individual using base64-encoded content. Supports identity documents
        (passport, driver's license, etc.) and EDD documents. For files larger than 10MB, use the
        presigned URL endpoint instead.

        **Authentication:** Accepts Application Token (X-Application-Token header).
      operationId: uploadIndividualDocument
      parameters:
        - name: application_id
          in: path
          required: true
          description: The unique identifier for the application
          schema:
            $ref: '#/components/schemas/KSUID'
        - name: individual_id
          in: path
          required: true
          description: The unique identifier for the individual
          schema:
            $ref: '#/components/schemas/KSUID'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      security:
        - ApplicationTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndividualDocumentUploadRequest'
      responses:
        "201":
          description: Document uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentUploadResponse'
        "400":
          description: Invalid request or validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Application or individual not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "413":
          description: File size exceeds 500MB limit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /applications/{application_id}/associated-individuals/{individual_id}/documents/upload-url:
    post:
      tags:
        - Onboarding
      summary: Get presigned URL for individual document upload
      description: |
        Generates a presigned URL for uploading large individual documents directly to cloud storage.
        Supports identity documents and EDD documents. Use this endpoint for files larger than 10MB.
        After uploading to the presigned URL, call the verify endpoint to complete the upload process.

        **Authentication:** Accepts Application Token (X-Application-Token header).
      operationId: getIndividualDocumentUploadUrl
      parameters:
        - name: application_id
          in: path
          required: true
          description: The unique identifier for the application
          schema:
            $ref: '#/components/schemas/KSUID'
        - name: individual_id
          in: path
          required: true
          description: The unique identifier for the individual
          schema:
            $ref: '#/components/schemas/KSUID'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      security:
        - ApplicationTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndividualDocumentUploadUrlRequest'
      responses:
        "200":
          description: Presigned URL generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentUploadUrlResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Application or individual not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /applications/{application_id}/edd:
    put:
      tags:
        - Onboarding
      summary: Create or update EDD record
      description: |
        Creates or updates the Enhanced Due Diligence (EDD) record for an application. This endpoint
        is idempotent and should be used when EDD is required for the application.

        **Authentication:** Accepts Application Token (X-Application-Token header).
      operationId: createOrUpdateEDD
      parameters:
        - name: application_id
          in: path
          required: true
          description: The unique identifier for the application
          schema:
            $ref: '#/components/schemas/KSUID'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      security:
        - ApplicationTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EDDRequest'
      responses:
        "200":
          description: EDD record created or updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EDDWithApplicationID'
        "400":
          description: Invalid request or validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Application not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
        - Onboarding
      summary: Get EDD record for application
      description: |
        Retrieves the Enhanced Due Diligence (EDD) record for an application, including which
        documents are required and which are still missing.

        **Authentication:** Accepts Application Token (X-Application-Token header).
      operationId: getEDD
      parameters:
        - name: application_id
          in: path
          required: true
          description: The unique identifier for the application
          schema:
            $ref: '#/components/schemas/KSUID'
      security:
        - ApplicationTokenAuth: []
      responses:
        "200":
          description: EDD record retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EDDWithApplicationID'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: EDD record not found for this application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /applications/{application_id}/attestations:
    post:
      tags:
        - Onboarding
      summary: Submit an attestation for an application
      description: |
        Submits an attestation for an application. For business applications, the attestor must be a
        control person. For individual applications, the attestor must be the individual. The attestor
        name must exactly match the name on file.

        **Authentication:** Accepts Application Token (X-Application-Token header).
      operationId: submitAttestation
      parameters:
        - name: application_id
          in: path
          required: true
          description: The unique identifier for the application
          schema:
            $ref: '#/components/schemas/KSUID'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      security:
        - ApplicationTokenAuth: []
      requestBody:
        description: Attestation submission data
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttestationSubmitRequest'
      responses:
        "204":
          description: Attestation submitted successfully
        "400":
          description: Invalid request or validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                e_sign_required:
                  summary: E-Sign attestation required first
                  value:
                    code: e_sign_required_first
                    message: E-Sign attestation must be submitted before other attestations
                invalid_timestamp:
                  summary: Invalid attestation timestamp
                  value:
                    code: invalid_attestation_timestamp
                    message: Attestation timestamp must be after e-sign attestation timestamp
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Application not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /applications/{application_id}/submit:
    post:
      tags:
        - Onboarding
      summary: Submit an application for verification
      description: |
        Submits an application for verification. The application must be complete with all required
        information and documents before it can be submitted. If the application is not ready,
        returns detailed error information about what is missing.

        **Authentication:** Accepts Application Token (X-Application-Token header).
      operationId: submitApplication
      parameters:
        - name: application_id
          in: path
          required: true
          description: The unique identifier for the application
          schema:
            $ref: '#/components/schemas/KSUID'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      security:
        - ApplicationTokenAuth: []
      responses:
        "200":
          description: Application submitted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        "400":
          description: Application cannot be submitted (not ready or invalid status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationNotReadyError'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - application not owned by client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Application not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /applications/{application_id}/decisions/entities/{entity_type}/{entity_id}:
    post:
      tags:
        - Onboarding
        - Internal
      summary: Make a decision on a specific entity (business or individual)
      description: |
        Sets a decision (approved, declined, auto_declined, or withdrawn) on a specific entity
        within an application. This endpoint is for superadmin use only.
        Entity type must be 'business' or 'individual'.
      operationId: decideEntity
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - name: application_id
          in: path
          required: true
          description: The unique identifier for the application
          schema:
            $ref: '#/components/schemas/KSUID'
        - name: entity_type
          in: path
          required: true
          description: Type of entity (business or individual)
          schema:
            type: string
            enum:
              - business
              - individual
        - name: entity_id
          in: path
          required: true
          description: The unique identifier for the entity
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecisionRequest'
      responses:
        "200":
          description: Entity decision updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionResponse'
        "400":
          description: Invalid request or entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - requires superadmin privileges
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Application not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /applications/{application_id}/decisions/calculate:
    post:
      tags:
        - Onboarding
        - Internal
      summary: Calculate application decision from entity decisions
      description: |
        Calculates and applies an application-level decision based on the decisions of all entities.
        Logic: If any entity is declined/auto_declined/withdrawn, the application is declined.
        If all entities are approved, the application is approved.
        Returns an error if not all entities have decisions yet.
        This endpoint is for superadmin use only.
      operationId: calculateApplicationDecision
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - name: application_id
          in: path
          required: true
          description: The unique identifier for the application
          schema:
            $ref: '#/components/schemas/KSUID'
      responses:
        "200":
          description: Application decision calculated and applied successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculateDecisionResponse'
        "400":
          description: Not all entities have decisions yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - requires superadmin privileges
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Application not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /applications/{application_id}/decisions/decide-all:
    post:
      tags:
        - Onboarding
        - Internal
      summary: Set the same decision for all entities and the application
      description: |
        Applies the same decision (approved, declined, auto_declined, or withdrawn) to all entities
        (business and individuals) and the application itself in a single operation.
        This endpoint is for superadmin use only.
      operationId: decideAll
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - name: application_id
          in: path
          required: true
          description: The unique identifier for the application
          schema:
            $ref: '#/components/schemas/KSUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecisionRequest'
      responses:
        "200":
          description: All entities and application decided successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - requires superadmin privileges
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Application not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /applications/{application_id}/decisions/application:
    post:
      tags:
        - Onboarding
        - Internal
      summary: Set decision directly on the application
      description: |
        Sets a decision (approved, declined, auto_declined, or withdrawn) directly on the application
        without affecting entity-level decisions. This allows manual override of the application decision
        independent of entity decisions. This endpoint is for superadmin use only.
      operationId: decideApplication
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - name: application_id
          in: path
          required: true
          description: The unique identifier for the application
          schema:
            $ref: '#/components/schemas/KSUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecisionRequest'
      responses:
        "200":
          description: Application decision updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - requires superadmin privileges
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Application not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /applications/{application_id}/review-data:
    get:
      tags:
        - Onboarding
        - Internal
      summary: Get application review data for superadmin dashboard
      description: |
        Retrieves comprehensive application data for superadmin review, including:
        - Complete application details with entities
        - Validation state and document status
        - Risk rating
        - Sumsub review data for all entities (review status, risk labels, etc.)
        - Current decisions on entities

        This endpoint fetches live data from Sumsub for each entity and combines it with
        Dakota's application data. This endpoint is for superadmin use only.
      operationId: getApplicationReviewData
      parameters:
        - name: application_id
          in: path
          required: true
          description: The unique identifier for the application
          schema:
            $ref: '#/components/schemas/KSUID'
      responses:
        "200":
          description: Application review data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationReviewResponse'
        "400":
          description: Invalid application ID format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - requires superadmin privileges
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Application not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /applications/{application_id}/business-details:
    put:
      tags:
        - Onboarding
      summary: Update business application details
      description: |
        Updates a business application with company information including legal name, registration details,
        address, industry, and financial information. This endpoint is idempotent and can only be called
        when the application status is 'pending'.
      operationId: updateBusinessApplicationDetails
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - name: application_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/KSUID'
      security:
        - ApplicationTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessApplicationCreateRequest'
      responses:
        '200':
          description: Business application details updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessDetailsResponse'
        '400':
          description: Invalid request or validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Application not in pending state or forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Application or business not found
          content:
[...]
